n8n/workflows/redink_content_generator.json
{
  "name": "RedInk 小红书内容生成器",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "redink/generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook 接收请求",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "redink-generate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:12398/api/outline",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic: $json.body.topic, images: $json.body.images || [] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "outline-request",
      "name": "生成大纲",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-outline",
      "name": "检查大纲结果",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:12398/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pages: $json.pages, style: $('Webhook 接收请求').item.json.body.style || '小红书风格' }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "generate-images",
      "name": "生成图片",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "topic",
              "name": "topic",
              "value": "={{ $('Webhook 接收请求').item.json.body.topic }}",
              "type": "string"
            },
            {
              "id": "outline",
              "name": "outline",
              "value": "={{ $('生成大纲').item.json.outline }}",
              "type": "string"
            },
            {
              "id": "pages",
              "name": "pages",
              "value": "={{ $('生成大纲').item.json.pages }}",
              "type": "array"
            },
            {
              "id": "images",
              "name": "images",
              "value": "={{ $json.images || [] }}",
              "type": "array"
            },
            {
              "id": "task_id",
              "name": "task_id",
              "value": "={{ $json.task_id }}",
              "type": "string"
            },
            {
              "id": "generated_at",
              "name": "generated_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-result",
      "name": "格式化结果",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error || '大纲生成失败' }}",
              "type": "string"
            },
            {
              "id": "topic",
              "name": "topic",
              "value": "={{ $('Webhook 接收请求').item.json.body.topic }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "error-result",
      "name": "错误结果",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "success-response",
      "name": "返回成功",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-response",
      "name": "返回错误",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Webhook 接收请求": {
      "main": [
        [
          {
            "node": "生成大纲",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成大纲": {
      "main": [
        [
          {
            "node": "检查大纲结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查大纲结果": {
      "main": [
        [
          {
            "node": "生成图片",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "错误结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成图片": {
      "main": [
        [
          {
            "node": "格式化结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化结果": {
      "main": [
        [
          {
            "node": "返回成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "错误结果": {
      "main": [
        [
          {
            "node": "返回错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "RedInk"
    },
    {
      "name": "小红书"
    },
    {
      "name": "AI内容生成"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-18T00:00:00.000Z",
  "versionId": "1"
}
